#body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #FFFACD;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}