* {
    box-sizing: border-box;
}

.list-group {
    flex: 0 0 30%;
}

.card {
    color: black;
    border-radius: 10px;
}

.card img {
    vertical-align: middle;
    width: 55px;
    height: 55px;
    margin: 10px;
    border-radius: 5px;
}

.clicked {
    background-color: blue;
}