.main-container {
    /* background-color: #FFFACD; */
    background: rgba(0, 0, 0, 0.3) url("/src/assets/diary-bg.jpg");
    background-size: contain;
    background-blend-mode: darken;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}