.content {
    height: 90vh;
    padding: 10px;
    background-color: #FBFCF8;
    font-family: 'Montserrat', sans-serif;
    overflow: scroll;
}

.content h1 {
    font-weight: 800;
}

.line {
    background-color: orange;
    height: 2px;
    margin-top: 5px;
}

.c-item {
    height: 360px
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}